<template>
  <div>
    <code>Mixin-component</code>
    <h3> {{ text }} </h3>
    <ul>
      <li v-for="movie in movies.results" v-bind:key="movie.id">
        <div>
            <router-link v-bind:to="{ name: 'MovieDetail', params: { id: movie.id } }">
            <img :src="imageUrl + movie.poster_path">
          </router-link>
          <h3>{{movie.title}}, movie id: {{movie.id}}</h3> {{movie.popularity}} {{movie.release_date}}
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { HttpMixin } from '../services/HttpMixin.js'

export default {
  mixins: [HttpMixin],
  data () {
    return {
      text: 'Hello mixin! You are more than welcome to merge your data with me.'
    }
  }
}
</script>

<style>
</style>
