<template>
  <div id="MovieDetail">
    <code>MovieDetail-component</code>
      <div v-bind:movie="movie" v-bind:key="movie.id">
    <router-link v-bind:to="{ name: 'PopularMovieList' }">
        <img :src="imageUrl + movie.backdrop_path">
      </router-link>
        <h3>{{ movie.original_title }}</h3>
        <p>{{ movie.overview }}</p>
      </div>
      <button v-on:click="navigate()">Back</button>
  </div>
</template>

<script>
import TheMovieDbService from '../services/TheMovieDbService.js'
import router from '../router'

export default {
  name: 'MovieDetail',
  /* props: ['movies'],
  computed: {
    movie () {
      let movie = this.movies.find(movie => movie.id === this.$route.params.id)
      return movie || null
    }
  }, */
  data () {
    return {
      movie: {},
      imageUrl: 'https://image.tmdb.org/t/p/w500'
    }
  },
  created () {
    // Create the method you made below
    return TheMovieDbService.getMovieDetail(this.$route.params.id)
      .then(response => {
        this.movie = response.body
        console.log(response)
      }, error => {
        console.log(error)
      })
  },
  methods: {
    navigate () {
      router.go(-1)
    }
  }
}
</script>

<style>

</style>
