<template>
  <div id="movie-list">
    <code>MovieList-component</code>
    <ul>
      <li v-for="item in items.results"
          v-bind:key="item.id">
        <div>
        <router-link v-bind:to="{ name: 'MovieDetail', params: { id: item.id } }">
        <img :src="imageUrl + item.poster_path">
        </router-link>
        <h3>{{movie.title}}, movie id: {{movie.id}}</h3> {{movie.popularity}} {{movie.release_date}}
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'movie-list',
  data: function () {
    return {
      items: [],
      baseUrl: 'https://api.themoviedb.org/3',
      apiKey: '?api_key=609d9a54e7a2c29a11fdb2de1919a8ad',
      imageUrl: 'https://image.tmdb.org/t/p/w342'
    }
  },
  created: function () {
    // Create the method you made below
    this.fetchData()
  },
  methods: {
    // Fetch data from the API
    fetchData: function () {
      this.$http
        .get(
          this.baseUrl +
            '/movie/popular' +
            this.apiKey +
            '&sort_by=popularity.desc'
        )
        .then(response => {
          this.items = response.body
          console.log(response)
        }, error => {
          console.log(error)
        })
    },
    movieDetail (id) {
      this.$http.get(this.baseUrl + '/movie/' + this.id + this.apiKey)
        .then(response => {
          this.items = response.body
        })
    }
  }
}
</script>
<style>

</style>
