<template>
  <div>
    <code>PopularMovieList-component.template</code>
      <li v-for="movie in movies.results" v-bind:movies="movies"
          v-bind:key="movie.id">
        <div>
          <router-link v-bind:to="{ name: 'MovieDetail', params: { id: movie.id } }">
            <img :src="imageUrl + movie.poster_path">
          </router-link>
          <h3>{{movie.title}}, movie id: {{movie.id}}</h3> {{movie.popularity}} {{movie.release_date}}
        </div>
      </li>
  </div>
</template>

<script>
import TheMovieDbService from '../services/TheMovieDbService.js'

export default {
  data () {
    return {
      movies: [],
      imageUrl: 'https://image.tmdb.org/t/p/w342'
    }
  },
  created () {
    return TheMovieDbService.getPopularMovies().then(
      response => { this.movies = response.body }
    )
  }
}
</script>

<style>
</style>
