<template>
    <div id="app">
        <nav>
            <router-link to="/PopularMovieList">PopularMovieList Component</router-link>
            <router-link to="/mixin">Mixin Component</router-link>
        </nav>
        <h1 v-bind:title="title">
  {{ title }}!
</h1>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      title: 'The Movie DB in Vue.js'
    }
  }
}
</script>

<style>
code,
pre {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 0.8em;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}
code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
